<p>
  <%= link_to "All Products", root_path %> |
  <%= link_to "All Warehouses", warehouses_path %> |
  <%= link_to "Go back", @product %>
</p>

<h1>New Inventory item</h1>

<%= render "form", product: @product, inventory_item: @inventory_item %>