<%= link_to "Home", root_path %> |
<%= link_to "New Product", new_product_path %>


<h1>Products</h1>

<h4>Select a product below to see its detailed inventory</h4>

<ul>
  <% @products.each do |product| %>
    <li>
      <%= link_to product.name, product %>
    </li>
  <% end %>
</ul>

<% if @products.blank? %>
  No products items yet.
<% end %>
