<p>
  <%= link_to "All Warehouses", warehouses_path %> |
  <%= link_to "All Products", root_path %> |
  <%= link_to "Go back", @warehouse %>
</p>

<h1>New Warehouse</h1>

<%= render "form", warehouse: @warehouse %>